# Sales Analysis- Pandas

- Method 1: Merging Multiple files one after one
- Method 2: Mergine Multiple files in one line code by using "Glob" fuction
- Exporting Merged File

In [1]:
import pandas as pd
import os   # for merging multiples files

#### Task#1: Merge all year sales into a single csv fileÂ¶

In [8]:
df2015 = pd.read_csv("sales_2015.csv")  # Import single year data
df2015.head()

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-15,Abegi Government Partner,Box,9242,2,35,6,4,3,4
1,01-Jan-15,Upobhog Government Organization,Sharpner,1831,7,35,21,14,3,2
2,01-Jan-15,Driving Government Inc.,Text Book,6530,4,80,60,20,15,1
3,01-Jan-15,Dour Jhap Art Corporation,Box,3707,6,80,120,0,20,3
4,02-Jan-15,Shikhkha Information Partner,Box,3551,8,160,160,0,20,5

In [9]:
df2016 = pd.read_csv("sales_2016.csv")  
df2016.head()

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-16,Shikhkha Information Partner,Sharpner,7500,8,40,24,16,3,3
1,01-Jan-16,Chinta Health Partner,Pen,9401,9,90,72,18,8,2
2,01-Jan-16,Ghumonto Map Organization,Text Book,5405,5,100,75,25,15,3
3,01-Jan-16,Shikhkha Information Partner,Diary,1604,3,240,180,60,60,5
4,01-Jan-16,Upobhog Manobota Corporation,Diary,8024,10,800,600,200,60,2

In [10]:
df2017 = pd.read_csv("sales_2017.csv")  
df2017.head()

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-17,Abegi Government Partner,Paper,4702,6,12,6,6,1,5
1,01-Jan-17,Driving Art Company,Box,5502,1,20,20,0,20,1
2,01-Jan-17,Dour Jhap Art Corporation,Earaser,7800,5,25,15,10,3,3
3,01-Jan-17,Abegi Government Partner,Color Pensil,3838,1,50,40,10,40,1
4,01-Jan-17,Nacha Duniya Corporation,Pen,3660,6,60,48,12,8,5

In [11]:
df2018 = pd.read_csv("sales_2018.csv")  
df2018.head()

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-18,Upobhog Manobota Corporation,Earaser,1462,3,15,9,6,3,5
1,01-Jan-18,Driving Map Partner,Text Book,8624,5,100,75,25,15,5
2,01-Jan-18,Upobhog Manobota Corporation,Color Pensil,8283,8,400,320,80,40,2
3,02-Jan-18,Shikhkha Information Partner,Earaser,3084,8,40,24,16,3,4
4,02-Jan-18,Dour Jhap Art Corporation,Earaser,1502,8,40,24,16,3,1

In [12]:
df2019 = pd.read_csv("sales_2019.csv")  
df2019.head()

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-19,Driving Manobota Corporation,Paper,1440,1,2,1,1,1,2
1,01-Jan-19,Kotha Information Inc.,Scale,9252,5,75,60,15,12,5
2,01-Jan-19,Driving Government Inc.,Color Pensil,8301,3,150,120,30,40,4
3,01-Jan-19,Driving Government Inc.,Diary,5920,3,240,180,60,60,4
4,01-Jan-19,Driving Manobota Corporation,Color Pensil,1860,10,500,400,100,40,3

In [13]:
df2020 = pd.read_csv("sales_2020.csv")  
df2020.head()

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-20,Chinta Health Corporation,Earaser,6680,2,10,6,4,3,4
1,01-Jan-20,Driving Government Inc.,Box,6450,7,140,140,0,20,4
2,01-Jan-20,Driving Map Partner,Diary,9282,3,240,180,60,60,5
3,02-Jan-20,Shikhkha Information Partner,Sharpner,9224,2,10,6,4,3,5
4,02-Jan-20,Upobhog Manobota Corporation,Paper,1723,6,12,6,6,1,4

In [23]:
# data = pd.concat((df2015,df2016,df2017,df2018,df2019,df2020))  # with index
data = pd.concat((df2015,df2016,df2017,df2018,df2019,df2020), ignore_index=True) # ignore index

In [25]:
data.shape

(12034, 10)

In [26]:
data.head(5000)

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-15,Abegi Government Partner,Box,9242,2,35,6,4,3,4
1,01-Jan-15,Upobhog Government Organization,Sharpner,1831,7,35,21,14,3,2
2,01-Jan-15,Driving Government Inc.,Text Book,6530,4,80,60,20,15,1
3,01-Jan-15,Dour Jhap Art Corporation,Box,3707,6,80,120,0,20,3
4,02-Jan-15,Shikhkha Information Partner,Box,3551,8,160,160,0,20,5
...,...,...,...,...,...,...,...,...,...,...
4995,14-Jun-17,Shikhkha Information Partner,Text Book,3610,9,180,135,45,15,5
4996,14-Jun-17,Nacha Duniya Corporation,Stapler,9302,9,450,270,180,30,1
4997,14-Jun-17,Upobhog Government Organization,Diary,3190,8,640,480,160,60,3
4998,15-Jun-17,Driving Government Inc.,Sharpner,3202,8,40,24,16,3,4
4999,15-Jun-17,Nacha Duniya Corporation,Earaser,8141,10,50,30,20,3,5

# Alternaive Ways to Merge Multiple Files

In [29]:
from glob import glob  # Glob is a function for merge multiple files for more efficiently or efficient file listing

In [31]:
files = glob('sales*')   # the word 'sales' is the first part of file name
files

['sales_2015.csv',
 'sales_2016.csv',
 'sales_2017.csv',
 'sales_2018.csv',
 'sales_2019.csv',
 'sales_2020.csv']

In [32]:
files.sort()  # Files Shorted
files

['sales_2015.csv',
 'sales_2016.csv',
 'sales_2017.csv',
 'sales_2018.csv',
 'sales_2019.csv',
 'sales_2020.csv']

In [33]:
data2 = pd.concat((pd.read_csv(file)for file in files), ignore_index=True)  # One line code for concatination

In [34]:
data2.head(5000)

,Date,Customer,Product,Postal,Qty,Revenue,Cost,Margin,Cost of Goods,Rating
0,01-Jan-15,Abegi Government Partner,Box,9242,2,35,6,4,3,4
1,01-Jan-15,Upobhog Government Organization,Sharpner,1831,7,35,21,14,3,2
2,01-Jan-15,Driving Government Inc.,Text Book,6530,4,80,60,20,15,1
3,01-Jan-15,Dour Jhap Art Corporation,Box,3707,6,80,120,0,20,3
4,02-Jan-15,Shikhkha Information Partner,Box,3551,8,160,160,0,20,5
...,...,...,...,...,...,...,...,...,...,...
4995,14-Jun-17,Shikhkha Information Partner,Text Book,3610,9,180,135,45,15,5
4996,14-Jun-17,Nacha Duniya Corporation,Stapler,9302,9,450,270,180,30,1
4997,14-Jun-17,Upobhog Government Organization,Diary,3190,8,640,480,160,60,3
4998,15-Jun-17,Driving Government Inc.,Sharpner,3202,8,40,24,16,3,4
4999,15-Jun-17,Nacha Duniya Corporation,Earaser,8141,10,50,30,20,3,5

# Exporting Data to CSV

In [37]:
data2.to_csv("data2.csv", index=False)